In [22]:
import pandas as pd
import copy

In [23]:
character_stats = pd.read_parquet('dfs/character_stats.parquet')

In [27]:
series = []
for characters in character_stats.characters:
    for character in characters.split(','):
        stats = character_stats[character_stats['characters']==characters].to_dict()
        data = {
            'name': character.strip(),
            'speed': float(list(stats['speed'].values())[0]),
            'acceleration': float(list(stats['acceleration'].values())[0]),
            'weight': float(list(stats['weight'].values())[0]),
            'handling': float(list(stats['handling'].values())[0]),
            'traction/grip': float(list(stats['traction/grip'].values())[0]),
            'mini-turbo': float(list(stats['mini-turbo'].values())[0])
        }
        if data['name'] == 'Baby Mario/Luigi':
            data2 = copy.deepcopy(data)
            data['name'] = 'Baby Luigi'
            data2['name'] = 'Baby Mario'
            series.append(pd.Series(data2))
        if data['name'] == 'Metal/Gold Mario':
            data2 = copy.deepcopy(data)
            data['name'] = 'Gold Mario'
            data2['name'] = 'Metal Mario'
            series.append(pd.Series(data2))
        series.append(pd.Series(data))
        

pd.DataFrame(series)

,name,speed,acceleration,weight,handling,traction/grip,mini-turbo
0,Baby Peach,2.25,4.00,2.00,5.00,4.25,4.00
1,Baby Daisy,2.25,4.00,2.00,5.00,4.25,4.00
2,Baby Rosalina,2.25,4.25,2.00,4.75,3.75,4.00
3,Lemmy Koopa,2.25,4.25,2.00,4.75,3.75,4.00
4,Baby Mario,2.50,4.25,2.00,4.50,4.00,3.75
5,Baby Luigi,2.50,4.25,2.00,4.50,4.00,3.75
6,Dry Bones,2.50,4.25,2.00,4.50,4.00,3.75
7,Koopa Troopa,2.75,4.00,2.50,4.50,4.25,3.75
8,Lakitu,2.75,4.00,2.50,4.50,4.25,3.75
9,Bowser Jr.,2.75,4.00,2.50,4.50,4.25,3.75
10,Toadette,2.75,4.25,2.50,4.25,3.50,3.75
11,Wendy,2.75,4.25,2.50,4.25,3.50,3.75
12,Isabelle,2.75,4.25,2.50,4.25,3.50,3.75
13,Toad,3.00,4.00,2.75,4.25,4.00,3.50
14,ShyGuy,3.00,4.00,2.75,4.25,4.00,3.50
15,Larry,3.00,4.00,2.75,4.25,4.00,3.50
16,Cat Peach,3.25,4.00,2.75,4.00,3.75,3.50
17,Inkling Girl,3.25,4.00,2.75,4.00,3.75,3.50
18,Villager Girl,3.25,4.00,2.75,4.00,3.75,3.50
19,Peach,3.50,3.75,3.00,3.75,3.75,3.50
20,Daisy,3.50,3.75,3.00,3.75,3.75,3.50
21,Yoshi,3.50,3.75,3.00,3.75,3.75,3.50
22,Tanooki Mario,3.50,3.75,3.25,3.75,3.25,3.50
23,Inkling Boy,3.50,3.75,3.25,3.75,3.25,3.50
24,Villager Boy,3.50,3.75,3.25,3.75,3.25,3.50
25,Luigi,3.75,3.50,3.50,3.75,3.25,3.25
26,Iggy,3.75,3.50,3.50,3.75,3.25,3.25
27,Mario,3.75,3.50,3.50,3.50,3.50,3.25
28,Ludwig,3.75,3.50,3.50,3.50,3.50,3.25
29,Link,4.00,3.25,3.75,3.25,3.75,3.25
30,King Boo,4.00,3.25,3.75,3.25,3.75,3.25
31,Rosalina,4.00,3.25,3.75,3.25,3.75,3.25
32,Donkey Kong,4.50,3.25,4.00,3.00,3.00,3.00
33,Roy,4.50,3.25,4.00,3.00,3.00,3.00
34,Waluigi,4.50,3.25,4.00,3.00,3.00,3.00
35,Wario,4.75,3.00,4.25,2.75,3.25,2.75
36,Dry Bowser,4.75,3.00,4.25,2.75,3.25,2.75
37,Metal Mario,4.25,3.25,4.50,3.25,3.25,3.00
38,Gold Mario,4.25,3.25,4.50,3.25,3.25,3.00
39,Pink Gold Peach,4.25,3.25,4.50,3.25,3.25,3.00
40,Bowser,4.75,3.00,4.50,2.50,3.00,2.75
41,Morton,4.75,3.00,4.50,2.50,3.00,2.75